@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
 font-family: gt-super;
 src: url(fonts/GT-Super/GT-Super-Display-Light-Trial.otf);
}

@font-face {
 font-family: sohne;
 src: url(fonts/Sohne/TestSohne-Buch-BF663d89cd32e6a.otf);
}
@font-face {
 font-family: "Adolescence";
 src: url(fonts/Adolescent.ttf);
}

body {
 font-family: Arial, Helvetica,
  sans-serif;
 background-color: #f2f3f4;
}

.primary {
 font-family: Georgia, "Times New Roman",
  Times, serif;
}

.secondary {
 font-family: sohne, "Arial", sans-serif;
}

.text-primary {
 color: #203a61;
}

.text-secondary {
 color: #034785;
}

@layer utilities {
 .perspective-1000 {
  perspective: 1000px;
 }

 .transform-style-3d {
  transform-style: preserve-3d;
 }

 .backface-hidden {
  backface-visibility: hidden;
 }

 .rotate-y-180 {
  transform: rotateY(180deg);
 }
}

@layer base {
}

@layer base {
 * {
  @apply border-border outline-ring/50;
 }
 body {
  @apply bg-background text-foreground;
 }
}
